---
import BaseHead from '@components/BaseHead.astro';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
        <slot name="structured-data" />
    </head>
    <body class="bg-zinc-900 text-zinc-100">
        <main class="max-w-3xl mx-auto py-16 px-4 z-10">
            <slot />
        </main>
    </body>
</html>
